/* Styles for login & signup page */
/* General styles for background, aligning items in center */
.sign_up_form, .login_form {
    background-image: url('../img/background.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height to cover the whole vertical space */
}

/* Styling the container for vertical and horizontal centering */
.container.py-5 .h-100 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.card.shadow-2-strong {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.411);
    /* min-width: 0px; Minimum width is reduced to better fit smaller screens */
    width: 100%; /* This will make it responsive */
    max-width: 500px; /* Maximum width to maintain design consistency */
}

.form-group.mb-4 {
    width: 80%; /* Increased width percentage for better form field utilization */
    position: relative;
    margin-bottom: 20px; /* Ensure spacing between fields */
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa.fa-user, .fa.fa-lock {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-control.form-control-lg {
    padding-left: 35px;
    background-color: rgba(255, 255, 255, 0.561);
    width: 100%; /*Make form inputs responsive*/
}

.btn-primary {
    width: 40%; /* Adjust the button width for better usability */
}

