<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6>About</h6>
                <p class="text-justify">EV Marketplace is your go-to platform for buying and selling electric vehicles.</p>
            </div>

            <div class="col-md-4">
                <h6>Contact</h6>
                <ul class="footer-links">
                    <li><i class="fa fa-map-marker"></i> 35 Stirling Hwy, Crawley WA 6009</li>
                    <li><i class="fa fa-phone"></i> +61 234 567 890</li>
                    <li><i class="fa fa-envelope"></i> inquire@evm.com</li>
                </ul>
            </div>

            <div class="col-md-2">
                <h6>Find Us Here</h6>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13537.343963805333!2d115.8180721!3d-31.9789061!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32a4ee6e7380e9%3A0xf04f0b618f28290!2sThe%20University%20of%20Western%20Australia!5e0!3m2!1sen!2sau!4v1716040072453!5m2!1sen!2sau" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-md-2">
                <h6>Subscribe</h6>
                <form action="#" method="post" class="subscribe-form">
                    <input type="email" name="email" placeholder="Your Email">
                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">© 2024 All Rights Reserved by 
             <a href="#">EVM</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
