<footer class="site-footer bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <p class="text-uppercase">EVM - all copyrights reserved © 2024</p>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#terms" class="link-dark">Terms and Conditions</a></li>
                    <li><a href="#privacy" class="link-dark">Privacy Policy</a></li>  
                    <li><a href="#cookie" class="link-dark">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
