{% extends 'default.html' %}

{% block content %}
<div class="forget-container">
    <div class="forget-row">
        <div class="forget-form-col">
            <!-- <div class="forget-brand"></div> -->
            <h2 class="forget-header">Forget something?</h2>
            <p class="forget-description">Enter your email below to receive password reset instructions.</p>
            <form method="POST" action="{{ url_for('auth.forgot_password') }}">
                {{ form.hidden_tag() }}
                <div class="forget-form-group">
                    {{ form.email.label(class="forget-form-label") }}
                    {{ form.email(class="forget-form-control") }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="forget-alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                <button type="submit" class="forget-btn forget-btn-primary forget-btn-block">Submit</button>
            </div>
            </form>
            <div class="forget-text-center forget-mt-3">
                <p>or</p>
                <button class="forget-btn forget-btn-outline-secondary forget-btn-block">Login</button>
            </div>
        </div>
        <div class="forget-img-col d-none d-md-flex">
            <img src="../static/img/background.jpg" class="forget-img-fluid" alt="Image">
        </div>
    </div>
</div>
{% endblock %}
