{% extends "default.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="flashed_msg" class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="divider"></div>

<!-- Search section -->
<section class="search" style="background-image: url('{{ url_for('static', filename='img/background.jpg') }}'); background-size: cover; background-position: center;">
    <form method="get" action="{{ url_for('main.search_results') }}">
        <div class="form-row">
            <select name="make" id="make">
                <option value="any" {% if request.args.get('make') == 'any' %}selected{% endif %}>All Brands</option>
                {% for brand in brands %}
                    <option value="{{ brand.id }}" {% if request.args.get('make') == brand.id %}selected{% endif %}>{{ brand.name }}</option>
                {% endfor %}
            </select>
            <select name="model" id="model">
                <option value="any" {% if request.args.get('model') == 'any' %}selected{% endif %}>All Models</option>
                {% for model in models %}
                    <option value="{{ model.id }}" {% if request.args.get('model') == model.id %}selected{% endif %}>{{ model.name }}</option>
                {% endfor %}
            </select>
            <select name="price" id="price">
                <option value="any" {% if request.args.get('price') == 'any' %}selected{% endif %}>Max Price</option>
                {% for price in prices %}
                    <option value="{{ price }}" {% if request.args.get('price') == price %}selected{% endif %}>${{ price }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-row">
            <button type="submit">Find My EV</button>
        </div>
    </form>
</section>

<div class="divider"></div>

<!-- Header for EV ads -->
<div class="section-header bg-primary text-white p-3 rounded">
    <h2>Latest EV Ads</h2>
    <a href="{{ url_for('main.search_results') }}" class="view-more-link">View More EV Deals &gt;</a>
</div>

<!-- EV ads -->
<section class="ev-ads-slider">
    <div class="slide">
        {% for vehicle in vehicles %}
        <div class="ad">
            <img src="{{ vehicle.image_url }}" alt="{{ vehicle.model }}">
            <div class="info">
                <h3>{{ vehicle.brand.name }} {{ vehicle.model_rel.name }} - {{ vehicle.year }}</h3>
                <p>Price: ${{ vehicle.price }}</p>
                <p>Mileage (km): {{ vehicle.mileage }}</p>
                <p>Battery Capacity (kWh): {{ vehicle.battery_capacity }}</p>
                <p>Car Type: {{ vehicle.car_type }}</p>
                <p>Seller: 
                    <a href="#" class="seller-link" data-bs-toggle="modal" data-bs-target="#messageModal" data-recipient="{{ vehicle.seller.username }}" data-recipient-name="{{ vehicle.seller.username }}">
                        {{ vehicle.seller.username }} - {{ vehicle.seller.email }}</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="controls">
        <button id="prev">&lt;</button>
        <button id="next">&gt;</button>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Send Message to <span id="recipientName"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('main.send_message') }}">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="recipient" id="recipientUsername">
                    <div class="form-group">
                        <label for="body">Message</label>
                        <textarea name="body" class="form-control" id="body" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- Header for Functionality description section -->
<div class="section-header bg-primary text-white p-3 rounded">
    <h2>Website Functionalities</h2>
</div>

<!-- Functionality description section -->
<section class="website-functions">
    <a href="{{ url_for('main.search_results') }}" class="function-link">
        <div class="function-box">
            <h3>Buy an EV</h3>
            <p>Find the perfect electric vehicle for you from our extensive listings.</p>
            <i class="bi bi-car-front" style="font-size: 3rem;"></i>
        </div>
    </a>
    <a href="{{ url_for('main.add_listing') }}" class="function-link">
        <div class="function-box">
            <h3>Post an Ad</h3>
            <p>Sell your electric vehicle by posting an ad.</p>
            <i class="bi bi-megaphone" style="font-size: 3rem;"></i>
        </div>
    </a>
    <a href="{{ url_for('main.messages') }}" class="function-link">
        <div class="function-box">
            <h3>Message the Seller</h3>
            <p>Contact the seller directly through our messaging system.</p>
            <i class="bi bi-envelope" style="font-size: 3rem;"></i>
        </div>
    </a>
    <a href="{{ url_for('auth.signup') }}" class="function-link">
        <div class="function-box">
            <h3>Create an Account</h3>
            <p>Sign up to access all features. and manage your listings.</p>
            <i class="bi bi-person" style="font-size: 3rem;"></i>
        </div>
    </a>
    <a href="{{ url_for('main.profile') }}" class="function-link">
        <div class="function-box">
            <h3>Manage your Listings</h3>
            <p>Edit and delete your listings.</p>
            <i class="bi-pencil-square" style="font-size: 3rem;"></i>
        </div>
    </a>
</section>

<div class="divider"></div>

<!-- Logo slider -->
<div class="brand-slider">
    <div class="slide">
        <img src="../static/img/brand_logos/Tesla.png" alt="Tesla">
        <img src="../static/img/brand_logos/Honda.png" alt="Honda">
        <img src="../static/img/brand_logos/Fisker.png" alt="Fisker">
        <img src="../static/img/brand_logos/Ford.png" alt="Ford">
        <img src="../static/img/brand_logos/Audi.png" alt="Audi">
        <img src="../static/img/brand_logos/Renault.png" alt="Renault">
        <img src="../static/img/brand_logos/Toyota.png" alt="Toyota">
        <img src="../static/img/brand_logos/Volvo.png" alt="Volvo">
        <img src="../static/img/brand_logos/Maserati.png" alt="Maserati">
        <img src="../static/img/brand_logos/Nissan.png" alt="Nissan">
        <img src="../static/img/brand_logos/Mahindra.png" alt="Mahindra">
        <img src="../static/img/brand_logos/Kia.png" alt="Kia">
        <img src="../static/img/brand_logos/Jaguar.png" alt="Jaguar">
        <img src="../static/img/brand_logos/Hyundai.png" alt="Hyundai">
        <img src="../static/img/brand_logos/BYD.png" alt="BYD">
        <img src="../static/img/brand_logos/Volkswagen.png" alt="Volkswagen">
        <img src="../static/img/brand_logos/Bentley.png" alt="Bentley">
        <img src="../static/img/brand_logos/BMW.png" alt="BMW">
    </div>
</div>

<div class="divider"></div>

<!-- Header for Google Maps -->
<div class="section-header bg-primary text-white p-3 rounded">
    <h2>Find Us Here</h2>
</div>

<section class="google-maps-placeholder">
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.3447172414562!2d115.81720306427914!3d-31.978669482495704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32a4ee6e7380e9%3A0xf04f0b618f28290!2sThe%20University%20of%20Western%20Australia!5e0!3m2!1sen!2sau!4v1715940154628!5m2!1sen!2sau" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

{% endblock %}
