<!-- index.html -->
{% extends "default.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<section class="search" 
    style="background-image: url('{{ url_for('static', filename='img/background.jpg') }}'); background-size: cover; background-position: center;">
    <form>
        <div class="form-row">
            <select name="make" id="make">
                <option value="any" selected>Any make</option>
                <option value="Audi">Audi</option>
                <option value="Bentley">Bentley</option>
                <option value="BMW">BMW</option>
                <option value="BYD">BYD</option>
                <option value="Chery">Chery</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Fiat">Fiat</option>
                <option value="Fisker">Fisker</option>
                <option value="Ford">Ford</option>
                <option value="Honda">Honda</option>
                <option value="Hyundai">Hyundai</option>
                <option value="JAC Motors">JAC Motors</option>
                <option value="Jaguar">Jaguar</option>
                <option value="Kia">Kia</option>
                <option value="Lexus">Lexus</option>
                <option value="Maserati">Maserati</option>
                <option value="Mahindra">Mahindra</option>
                <option value="Mercedes-Benz">Mercedes-Benz</option>
                <option value="MG">MG</option>
                <option value="Mitsubishi">Mitsubishi</option>
                <option value="Nissan">Nissan</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Porsche">Porsche</option>
                <option value="Opel">Opel</option>
                <option value="Renault">Renault</option>
                <option value="Suzuki">Suzuki</option>
                <option value="Tesla">Tesla</option>
                <option value="Toyota">Toyota</option>
                <option value="Volvo">Volvo</option>
                <option value="Volkswagen">Volkswagen</option>
            </select>
            <select name="model" id="model">
                <option value="any">Any Model</option>
            </select>
            <select name="distance" id="distance">
                <option value="distance">Distance</option>
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="15">15 km</option>
                <option value="20">20 km</option>
                <option value="30">30 km</option>
                <option value="40">40 km</option>
                <option value="50">50 km</option>
                <option value="75">75 km</option>
                <option value="100">100 km</option>
                <option value="150">150 km</option>
                <option value="200">200 km</option>
            </select>
            
            <input type="text" name="postcode" placeholder="Postcode">
            <select name="price" id="price">
                <option value="maxcdn">Max Price</option>
                <option value="$1000">$1000</option>
                <option value="$2000">$2000</option>
                <option value="$3000">$3000</option>
                <option value="$4000">$4000</option>
                <option value="$5000">$5000</option>
                <option value="$6000">$6000</option>
                <option value="$7000">$7000</option>
                <option value="$8000">$8000</option>
                <option value="$9000">$9000</option>
                <option value="$10000">$10000</option>
                <option value="$11000">$11000</option>
                <option value="$12000">$12000</option>
                <option value="$13000">$13000</option>
                <option value="$14000">$14000</option>
                <option value="$15000">$15000</option>
                <option value="$16000">$16000</option>
                <option value="$17000">$17000</option>
                <option value="$18000">$18000</option>
                <option value="$19000">$19000</option>
                <option value="$20000">$20000</option>
                <option value="$25000">$25000</option>
                <option value="$30000">$30000</option>
                <option value="$35000">$35000</option>
                <option value="$40000">$40000</option>
                <option value="$45000">$45000</option>
                <option value="$50000">$50000</option>
            </select>
        </div>
        <div class="form-row">
            <button type="submit">Find My EV</button>
        </div>
    </form>
</section>

<!-- ev ads -->
<section class="ev-ads-slider">
    <div class="slide">
        <!-- Example slide content, repeat for each ad -->
        <div class="ad">
            <img src="{{ url_for('static', filename='img/car_models/Tesla_Model_3.png') }}" alt="Tesla Model 3">

            <div class="info">
                <h3>Tesla Model 3</h3>
                <p>$25000</p>
                <p>Model 3 is designed for electric-powered performance, with quick acceleration, long range and fast charging.</p>
            </div>
        </div>
        <div class="ad">
            <img src="{{ url_for('static', filename='img/car_models/Toyota_Camry.png') }}" alt="Toyota_Camry">

            <div class="info">
                <h3>Toyota Camry</h3>
                <p>$20000</p>
                <p>Toyota Electrified - Towards the future</p>
            </div>
        </div>
        <div class="ad">
            <img src="{{ url_for('static', filename='img/car_models/Tesla_Model_X.png') }}" alt="Tesla_Model_S">
            <div class="info">
                <h3>Tesla Model S</h3>
                <p>$28000</p>
                <p>Model 3 is designed for electric-powered performance, with quick acceleration, long range and fast charging.</p>
            </div>
        </div>
        <div class="ad">
            <img src="{{ url_for('static', filename='img/car_models/Toyota_Camry.png') }}" alt="Toyota_Camry">
            <div class="info">
                <h3>Toyota Camry</h3>
                <p>$20000</p>
                <p>Toyota Electrified - Towards the future</p>
            </div>
        </div>
        <!-- Repeat for each EV ad -->
    </div>
</section>

<div class="brand-slider">
    <div class="slide">
        <img src="../static/img/brand_logos/Tesla.png" alt="Tesla">
        <img src="../static/img/brand_logos/Honda.png" alt="Honda">
        <img src="../static/img/brand_logos/Fisker.png" alt="Fisker">
        <img src="../static/img/brand_logos/Ford.png" alt="Ford">
        <img src="../static/img/brand_logos/Audi.png" alt="Audi">
        <img src="../static/img/brand_logos/Renault.png" alt="Renault">
        <img src="../static/img/brand_logos/Toyota.png" alt="Toyota">
        <img src="../static/img/brand_logos/Volvo.png" alt="Volvo">
        <img src="../static/img/brand_logos/Maserati.png" alt="Maserati">
        <img src="../static/img/brand_logos/Nissan.png" alt="Nissan">
        <img src="../static/img/brand_logos/Mahindra.png" alt="Mahindra">
        <img src="../static/img/brand_logos/Kia.png" alt="Kia">
        <img src="../static/img/brand_logos/Jaguar.png" alt="Jaguar">
        <img src="../static/img/brand_logos/Hyundai.png" alt="Hyundai">
        <img src="../static/img/brand_logos/BYD.png" alt="BYD">
        <img src="../static/img/brand_logos/Volkswagen.png" alt="Volkswagen">
        <img src="../static/img/brand_logos/Bentley.png" alt="Bentley">
        <img src="../static/img/brand_logos/BMW.png" alt="BMW">
    </div>
</div>
</body>
</html>
{% endblock %}
