<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='img/Website_Logo.png') }}" alt="EV Marketplace" id="website_logo" class="navbar-brand">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.vehicles') }}">Vehicles</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.contactus') }}">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.login') }}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.signup') }}">Signup</a></li>
            <li class="nav-item"><a class="nav-link" href="#" class="sell">Sell My EV</a></li>
        </ul>
    </div>
</nav>