<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='img/Website_Logo.png') }}" alt="EV Marketplace" id="website_logo" class="navbar-brand">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.vehicles') }}">Search</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <!-- Secure Logout Form -->
                    <!-- <form action="{{ url_for('auth.logout') }}" method="post" style="all: unset;"> -->
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    <!-- </form> -->
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">Signup</a>
                </li>
                {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#" class="sell">Sell My EV</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.contactus') }}">Contact Us</a></li>
                
        </ul>
    </div>
</nav>