{% extends 'default.html' %}

{% block title %}Vehicles - EV Marketplace{% endblock %}

{% block content %}
<main class="flex-grow-1">
    <section class="search"
    style="background-image: url('{{ url_for('static', filename='img/background.jpg') }}');
    background-size: cover;
    background-position: center;">
        <form method="get" action="{{ url_for('main.vehicles') }}">
            <div class="form-row row-1">
                <select name="make" id="make">
                    <option value="any" {% if make == 'any' %}selected{% endif %}>Any Make</option>
                    {% for m in makes %}
                        <option value="{{ m }}" {% if m == make %}selected{% endif %}>{{ m }}</option>
                    {% endfor %}
                </select>
                <select name="model" id="model">
                    <option value="any" {% if model == 'any' %}selected{% endif %}>Any Model</option>
                    {% for mdl in models %}
                        <option value="{{ mdl }}" {% if mdl == model %}selected{% endif %}>{{ mdl }}</option>
                    {% endfor %}
                </select>
                <select name="year" id="year">
                    <option value="any" {% if year == 'any' %}selected{% endif %}>Any Year</option>
                    {% for yr in years %}
                        <option value="{{ yr }}" {% if yr == year %}selected{% endif %}>{{ yr }}</option>
                    {% endfor %}
                </select>
                <select name="mileage" id="mileage">
                    <option value="any" {% if mileage_value == 'any' %}selected{% endif %}>Any Mileage</option>
                    {% for mile in mileage %}
                        <option value="{{ mile }}" {% if mile == mileage_value %}selected{% endif %}>{{ mile }} km</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row row-2">
                <select name="top_speed" id="top_speed">
                    <option value="any" {% if top_speed_value == 'any' %}selected{% endif %}>Any Top Speed</option>
                    {% for speed in top_speed %}
                        <option value="{{ speed }}" {% if speed == top_speed_value %}selected{% endif %}>{{ speed }} km/h</option>
                    {% endfor %}
                </select>
                <select name="acceleration" id="acceleration">
                    <option value="any" {% if acceleration_value == 'any' %}selected{% endif %}>Any Acceleration</option>
                    {% for acc in acceleration %}
                        <option value="{{ acc }}" {% if acc == acceleration_value %}selected{% endif %}>0-100 km/h in {{ acc }} seconds</option>
                    {% endfor %}
                </select>
                <select name="price" id="price">
                    <option value="any" {% if price_value == 'any' %}selected{% endif %}>Max Price</option>
                    {% for price in prices %}
                        <option value="{{ price }}" {% if price == price_value %}selected{% endif %}>${{ price }}</option>
                    {% endfor %}
                </select>
                <select name="color" id="color">
                    <option value="any" {% if color == 'any' %}selected{% endif %}>Any Color</option>
                    {% for clr in colors %}
                        <option value="{{ clr }}" {% if clr == color %}selected{% endif %}>{{ clr }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row find-button">
                <button type="submit">Find My EV</button>
            </div>
        </form>
    </section>

    <!-- displays filtered cars -->
    {% if vehicles %}
    <section class="vehicle-results">
        <div class="vehicle-summary">
            <p>{{ vehicles|length }} EV{{ 's' if vehicles|length > 1 else '' }} found</p>
            <div class="tags">
                {% if make != 'any' %}<button>{{ make }} <span>&times;</span></button>{% endif %}
                {% if model != 'any' %}<button>{{ model }} <span>&times;</span></button>{% endif %}
                <button>Clear All</button>
            </div>
        </div>
        <div class="vehicle-grid">
            {% for vehicle in vehicles %}
            <div class="vehicle-card">
                <div class="vehicle-info">
                    <h3>{{ vehicle.make }} {{ vehicle.model }}</h3>
                    <p>${{ vehicle.price }}</p>
                    <p>{{ vehicle.year }} - {{ vehicle.mileage }} miles</p>
                    <p>Top Speed: {{ vehicle.top_speed }} km/h</p>
                    <p>Acceleration: 0-100 km/h in {{ vehicle.acceleration }} seconds</p>
                    <p>Location: {{ vehicle.seller.name }} - {{ vehicle.seller.email }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock %}
