{% extends 'default.html' %}

{% block title %}
Signup | EV Marketplace
{% endblock %}

{% block content %}
<main>
    <section class="sign_up_form">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <!--only inline style working, css file not working, why-->
            <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.411); min-width:500px;" >
              <div class="card-body p-5 text-center">
    
                <h2 class="mb-5">Sign up</h2>
                <form method="POST" action="{{ url_for('auth.signup') }}">
                    {{ form.hidden_tag() }}

                    <div data-mdb-input-init class="form-group mb-4">
                      <i class="fa fa-envelope"></i>
                      {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                      {% if form.email.errors %}
                          {% for error in form.email.errors %}
                              <div class="alert alert-danger">{{ error }}</div>
                          {% endfor %}
                      {% endif %}
                    </div>

                    <div data-mdb-input-init class="form-group mb-4">
                      <i class="fa fa-user"></i>
                      {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                      {% if form.username.errors %}
                          {% for error in form.username.errors %}
                              <div class="alert alert-danger">{{ error }}</div>
                          {% endfor %}
                      {% endif %}
                    </div>

                    <div data-mdb-input-init class="form-group mb-4">
                      <i class="fa fa-lock"></i>
                      {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                      {% if form.password.errors %}
                          {% for error in form.password.errors %}
                              <div class="alert alert-danger">{{ error }}</div>
                          {% endfor %}
                      {% endif %}
                    </div>

                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Register</button>
                </form>
                <hr class="my-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock %}