<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | EVSales</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main_webpage.css">
</head>
<body>
    <header>
      <!--Nav bar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <a href="/">
                <img src="../static/img/Website_Logo.png" alt="EV Marketplace" id="website_logo" class="navbar-brand">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="search.html">Vehicles</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="signup.html">Signup</a></li>
                <li class="nav-item"><a class="nav-link" href="#" class="sell">Sell My EV</a></li>
            </ul>
        </div>
    </nav>
    </header>
    
    <main>
        <section class="sign_up_form">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong card-background">
                            <div class="card-body p-5 text-center">
                                <form id="signupForm" onsubmit="return validateForm()">
                                    <h2 class="mb-5">Sign up</h2>
                                    <div class="form-outline mb-4 position-relative">
                                        <i class="fa fa-envelope icon-style"></i>
                                        <input type="email" id="typeEmailX-2" class="form-control form-control-lg input-style" placeholder="Email" required>
                                    </div>
                                    <div class="form-outline mb-4 position-relative">
                                        <i class="fa fa-user icon-style"></i>
                                        <input type="text" id="Usernameinput" class="form-control form-control-lg input-style" placeholder="Username" required>
                                    </div>
                                    <div class="form-outline mb-4 position-relative">
                                        <i class="fa fa-lock icon-style"></i>
                                        <input type="password" id="password_input" class="form-control form-control-lg input-style" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters" required>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="rememberMe" required>
                                        <label class="form-check-label" for="rememberMe">Agree to terms and conditions</label>
                                    </div>
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                                    <hr class="my-4">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer">
          <footer class="footer fixed-bottom bg-body-tertiary">
              <div class="container text-center pt-2">
                  <div class="row gx-5">
                      <div class="col">
                          <h6>EV Marketplace - all copyright reserved ©2024</h6>
                      </div>
                  </div>
              </div>
          </footer>
      </section>

    </main>

    
    <script src="../static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
